.DS_Store
src/.DS_Store
src/config.o
src/configparser.o
src/gmark.o
src/pugixml.o
src/queryinterface/pugixml.o
src/queryinterface/queryinterface.o
src/queryinterface/test
src/queryinterface/test.o
src/querytranslate/pugixml.o
src/querytranslate/querytranslate.o
src/querytranslate/test
src/querytranslate/test.o
src/randomgen.o
src/test
src/test.o
src/workload.o
src/workload2.o
output/trip/graph.html
output/trip/trip-graph.txt